<html layout:decorate="~{global/userLayout}">
<div layout:fragment="content">
    <h1 class="font-bold">전체 글 목록</h1>
    <div class="overflow-x-auto">
        <table class="table">
            <!-- head -->
            <thead>
            <tr class="text-center">
                <th></th>
                <th style="width:50%">제목</th>
                <th>글쓴이</th>
                <th>작성일시</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" th:each="article, loop : ${paging}">
                <td th:text="${loop.count}"></td>
                <td class="text-start">
                    <a th:href="@{|/post/${article.id}|}" th:text="${article.title}"></a>
                </td>
                <td><span th:if="${article.writer != null}" th:text="${article.writer.username}"></span></td>
                <td th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd')}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}" class="join">
        <button th:disabled="${!paging.hasPrevious}"
                th:classappend="${!paging.hasPrevious} ? 'disabled'"
                th:onclick="'location.href=\'?page=' + (${paging.number-1}) + '\''"
                class="join-item btn">
            <span>이전</span>
        </button>

        <button th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'btn-active'"
                th:text="${page}"
                th:onclick="'location.href=\'?page=' + (${page}) + '\''"
                class="join-item btn">
        </button>

        <button th:disabled="${!paging.hasNext}"
                th:classappend="${!paging.hasNext} ? 'disabled'"
                th:onclick="'location.href=\'?page=' + (${paging.number+1}) + '\''"
                class="join-item btn">
            <span>다음</span>
        </button>
    </div>

    <!-- 페이징처리 끝 -->

    <a th:href="@{/post/write}" class="btn btn-primary">글 작성</a>
</div>
</html>