<html layout:decorate="~{global/userLayout}">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h3>회원가입</h3>
        </div>
    </div>
    <script>
        function submitJoinForm(form) {
            form.username.value = form.username.value.trim();
            if(form.username.value.length == 0){
                alert('ID를 입력해주세요.');
                form.username.focus();
                return;
            }

            form.password.value = form.password.value.trim();
            if(form.password.value.length == 0){
                alert('비밀번호를 입력해주세요.');
                form.password.focus();
                return;
            }

            form.passwordCheck.value = form.passwordCheck.value.trim();
            if(form.passwordCheck.value.length == 0){
                alert('비밀번호 확인을 입력해주세요.');
                form.passwordCheck.focus();
                return;
            }

            if(form.password.value != form.passwordCheck.value){
                alert('비밀번호가 일치하지 않습니다.');
                form.passwordCheck.focus();
                return;
            }

            form.submit();
        }
    </script>

    <form th:action method="post" onsubmit="submitJoinForm(this); return false;">
        <div class="mb-3">
            <label>ID</label>
            <input type="text" name="username">
        </div>
        <div class="mb-3">
            <label>비밀번호</label>
            <input type="password" name="password">
        </div>
        <div class="mb-3">
            <label>비밀번호 확인</label>
            <input type="password" name="passwordCheck">
        </div>

        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
</div>
</html>